:root {
    --backColor: #e6d1b6;
    --black: #0c0c0c;
    --grey: #474747;
    --newwhite: #e6d1b6;
    --light: hsla(0, 0%, 100%, 1);
}
.mast-head {
    background: linear-gradient(90deg,#e45555, #74df10,#e45555);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    padding-top: 20px;
    padding-bottom: 20px;
    outline: solid;
    outline-width: thick;
    outline-offset: -6px;
    
}
.mast-head nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 40px;
    font-size: 20px;
    font-style: bold;
    line-height: 25px;
    text-decoration: none;
    

   
}
.mast-head .nav-link {
    padding: 10px 10px;
    color: var(--black);
    text-decoration: underline;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 12px;

}
nav ul {
    display: flex;
}
.mast-head nav ul li a:hover {
    background-color: var(--grey);
    box-shadow: 5px 5px rgba(0, 0, 30px, 0.02);
    transition: all ease 0.2s;
    color: #fdfdfd;
}
.site-logo {
    color: var(--black);
    width: 80px;
    height: 40px;
    display: block;
    overflow: visible;
    border: 4px dashed var(--black);
    position: relative;
    transform: rotate(0deg);
    transition: transform .4s ease-in-out;
    flex-shrink: 0;
}
.site-logo .logo-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    transition: transform .4s ease-in-out;
    font-weight: 700;
    font-size: 30px;
}
.section-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    left: 0px;
    top: 0;
    width: 100%;
    z-index: 1;
    padding-top: 100px;
    padding-bottom: 40px;
    background-color: var(--black);
}
.heading {
    text-align: center;
    max-width: 1500px;
    max-width: 900px;
    margin-top: 25px;
    margin-bottom: 25px;
    color: var(--newwhite);
    font-size: 20px;
    font-family: sans-serif;
}
.text-block {
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--newwhite);
}
.container-2 div img {
    display: flex;
    justify-content: center;
    height: 589px;
    width: 502px;
}
.section-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: linear-gradient(100deg,#74df10,#e45555d0,#74df10);
    padding-top: 20px;
    align-items: center;
    
    
}
h2 {
    text-align: center;
    text-decoration: underline;
    font-size: 38px;
    color: var(--black);
    padding-bottom: 20px;
}
.collection-item {
    flex-direction: row;
    background-color: var(--black);
    padding: 20px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.collection {
    display: flex;
    flex-direction: column;
    transition: flex-basis 500ms linear;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: var(--light);
    padding: 10px;
    margin: 20px;
    color: var(--backColor);
    cursor: pointer;
    width: 450px;
}
.overlay-button {
    padding: 12px;
    margin: 10px;
    color: var(--backColor);
    text-decoration: none;
    font-family: serif;
    border-radius: 12px;
    font-weight: bold;
    width: 150px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--light);
}
.collection:hover,
.collection:hover .overlay-button {
    box-shadow: inset 0px 0px 8px var(--newwhite), 0 0 15px var(--backColor);
    transform: scale(1.1);
}
h3 {
    padding: 20px;
    text-align: center;
    background-color: var(--grey);
}
.collection img {
    width: 100%;
    height: 300px;
}
.section-4 {
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    background: linear-gradient(100deg,#74df10,#e45555d0,#74df10);
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 14px;
}
h4 {
    font-size: 44px;
    margin-bottom: 20px;
    color: var(--black);
    text-decoration: underline;
}
#email {
    color: black;
    text-align: center;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 22px;

}
.phone {
    color: black;
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
}
.container-4 {
    color: var(--light);
}
.container-5 {
    border-radius: 5px;
    background-color: var(--black);
    padding: 20px;
    width: 700px;
}
input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid var(--light);
    border-radius: 4px;
    resize: vertical;
    border-radius: .25rem;
}
.form-control:focus {
    color: #495057;
    background-color: var(--light);
    border-color: var(--light);
    outline: 0;
    box-shadow: 0 0 0 .2rem var(--backColor);
}
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}
input[type=submit] {
    background-color: #595959;
    color: var(--light);
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}
input[type=submit]:hover {
    background-color: var(--backColor);
    color: var(--black);
}
.field-1 {
    float: left;
    width: 25%;
    margin-top: 6px;
}
.field-2 {
    float: left;
    width: 75%;
    margin-top: 6px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background: var(--black);
    color: var(--light);
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
i:hover {
    color: var(--newwhite);
    transition: 0.4s;
    cursor: pointer;
}
@media screen and (max-width: 768px) {
    .field-1,
    .field-2 input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}
@media screen and (max-width: 768px) {
    .container-2 div img {
        height: 383px;
        width: 326px;
    }
}